<!DOCTYPE html>
<header id="welcome-section">
  <h1 id="welcome-section">WELCOME TO MY PAGE!</h1>
  
</header>
<body>
  <main id="main">
    <section id="projects">
     <a  class="project-tile" href="https://github.com/Rudakop" >GitHub</a>|
     <p>My experience with projects on GitHub</p> 
    </section>

    <ul id="navbar" class="navbar navbar-visible navbar-fixed-top">
      <li><a id="navbar" href="#C1">My experience</a></li>
      <li><a href="https://www.freecodecamp.org/" target="_blank">Visit FCC</a></li>
      <li><a id="navbar" href="https://www.behance.net/gallery/37632257/poiskspikerov-na-platnye-meroprijatija-v-sfere-IT">Behance</a></li>
    </ul>

    </main>
  </body>