<!DOCTYPE html>
<nav id="navbar" class="navbar navbar-visible navbar-fixed-left">
  <header id="navbar">
    <h1 id="title">Technical documentation</h1>  
</header>
<a  class="nav-link1" href="#JavaScript_and_Java" >JavaScript</a>
<a  class="nav-link2" href="#HTML" >HTML</a>
<a  class="nav-link3" href="#CSS" >CSS</a>
<a  class="nav-link4" href="#Python" >Python</a>
<a  class="nav-link5" href="#PHP" >PHP</a>
</nav>
<body>
  <main id="main-doc">
     
    <section id="JavaScript_and_Java" class="main-section">
      <header id="JavaScript_and_Java">
      <p>JavaScript and Java</p>
      <p>By comparison, JavaScript is mainly used to 
        make web pages more interactive. ... 
        JavaScript code is run on a browser only, while Java 
        creates applications that run in a virtual machine or browser.
        Java is an OOP (object-oriented programming) language, 
        and JavaScript is specifically an OOP scripting language.
      </p>
      <li> <code>
        x = 5;
        y = 6;
        z = x + y;
        </code></li>     
        </header>
    </section>


    <section id="HTML"class="main-section">
      <p>HTML</p>
      <p>Hypertext Markup Language is the standard 
        markup language for documents designed to be 
        displayed in a web browser. It can be assisted 
        by technologies such as Cascading Style Sheets 
        and scripting languages such as JavaScript</p>
        <li> <code>
          x = 5;
          y = 6;
          z = x + y;
          </code></li>
    </section> 


    <section id="CSS"class="main-section">
      <p>CSS</p>
      <p>Cascading Style Sheets is a style sheet language
         used for describing the presentation of a document
          written in a markup language like HTML. CSS is a 
          cornerstone technology of the World Wide Web, 
          alongside HTML and JavaScript</p>
          <li> <code>
            x = 5;
            y = 6;
            z = x + y;
            </code></li>
    </section>


    <section id="Python" class="main-section">
      <p>Python</p>
      <p>Python is an interpreted, high-level, general-purpose 
        programming language. Created by Guido van Rossum and 
        first released in 1991, Python's design philosophy 
        emphasizes code readability with its notable use of 
        significant whitespace.</p>
        <li> <code>
          x = 5;
          y = 6;
          z = x + y;
          </code></li>
    </section>
    
    
    <section id="PHP" class="main-section">
      <p>PHP</p>
      <p>PHP is a popular 
        general-purpose scripting language that is
        especially suited to web development. 
        It was originally created by Danish-Canadian 
        programmer Rasmus Lerdorf in 1994; the PHP 
        reference implementation is now produced 
        by The PHP Group.</p>
        <li> <code>
          x = 5;
          y = 6;
          z = x + y;
          </code></li>
    </section>

       
     
  </main>
  </body>